<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact</title>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body bgcolor="lightpink">

    <a href="/home">home</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>

    <hr>
    <h1>
        welcome to contact page 
        <!-- <i class="fa-regular fa-heart" style="color:rgb(243, 216, 216)"></i> -->
    </h1>
    <hr>

    <h3>www.ecom.com</h3>

</body>
</html>
